/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis globais */
:root {
  --background-base: #181818;
  --background-secondary: #282828;
  --text-color: #b3b3b3;
  --text-color-light: #fff;
  --primary-color: #1DB954;
}

/* Estilo global  */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-base);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--text-color-light);
}

ul,
ol {
  list-style: none;
}

/* container */
.container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-areas:
    "head content"
    "head content"
    "foot foot";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 1fr 100px;
  gap: .6rem;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "head"
      "content"
      "foot";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
  }
}

/* Header */
.header {
  grid-area: head;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--background-secondary);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  margin-bottom: 1rem;
}

.header .logo i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header .logo {
    margin-bottom: 0;
  }

  .header ul {
    flex-direction: row;
  }
}



/* main */
.main {
  grid-area: content;
  background-color: var(--background-secondary);
  border-radius: 1rem;
  padding: 1rem;

}

section {
  height: 100%;
}

.info-container,
.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.info-container {
  height: 20%;
}

.info-container p {
  font-style: italic;
}

.player-container {
  height: 80%;
}


/* Player */
.player {
  background-color: var(--background-base);
  width: 80%;
  border-radius: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.player h3,
.player p {
  margin-bottom: .5rem;
  text-align: center;
  color: #fff;
}

.player .duracao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.player .barra {
  display: flex;
  width: 100%;
  height: 6px;
  background-color: #535353;
  border-radius: 3px;
  position: relative;
  align-items: center;
}

.player progress {
  width: 0%;
  height: 6px;
  appearance: none;
  background-color: var(--primary-color);
}

.player progress::-webkit-progress-bar {
  background-color: transparent;
}

.player progress::-webkit-progress-value {
  background-color: var(--primary-color);
  border-radius: 2px;
}

.player .ponto {
  position: absolute;
  left: -3px;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.player .tempo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #b3b3b3;
}

.player .botoes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player .botoes button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.player .botoes button:hover {
  color: var(--primary-color);
}

.player .botoes .play {
  font-size: 3rem;

}

.player .botoes .pause {
  font-size: 3rem;
  display: none;
}

.player .botoes .setas {
  font-size: 2rem;
}

.player audio {
  width: 100%;
  margin-top: 20px;
}


/* footer */
.footer {
  grid-area: foot;
  background-color: var(--background-secondary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}